<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <span>Cotação Base de Compra</span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <span>Cotação Base de Venda</span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <span>Transações de Compra</span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <span>Transações de Venda</span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>